.languages
    display inline-block
    border-radius 4px 4px 0 0
    overflow hidden
    border-bottom none

.language
    display inline-block
    padding 10px 15px
    background-color #A37DD4
    font-weight bold
    cursor pointer
    transition background-color .3s
    color #fff
    text-transform uppercase
    &:hover
        background-color #9253C6
        transition background-color .3s

.active
    background-color #9253C6
