.top-bar
	background-color: #349d34;
	box-sizing border-box
	line-height 30px
	padding 0 20px
	color #fff
	font-size 14px
	font-weight bold

.header
	height 140px
	background-color #53BF40
	box-sizing border-box
	position relative

.layout
	background-color #fff

.page-title
	color #fff
	position absolute
	bottom 20px
	left 80px
	text-transform uppercase


.content
	padding 60px 80px
	box-sizing border-box


.brand
	color #fff
	text-decoration none
