.top-bar
	background-color: #349d34;
	box-sizing border-box
	line-height 30px
	padding 0 20px
	color #fff
	font-size 14px
	font-weight bold

.header
	height 180px
	background-color #53BF40
	box-sizing border-box
	position relative

.layout
	background-color #fff

.page-title
	color #fff
	position absolute
	bottom 50px
	left 80px
	text-transform uppercase


.content
	padding 60px 80px
	box-sizing border-box


.brand
	color #fff
	text-decoration none
	margin-right 20px

.link
	color #fff
	display inline-block
	padding 0 10px
	text-decoration none
	transition background-color .3s
	&.active
		background-color rgba(0, 0, 0, 0.2)
	&:hover
		background-color rgba(0, 0, 0, 0.2)
		transition background-color .3s

.languages
	position absolute
	bottom 0
	left 80px
