.input
	display block
	width 740px
	padding 10px
	border solid 1px silver
	& ~ &
		margin-top 20px

.wrapper
	background-color rgba(0, 0, 0, 0.04)
	padding 10px
	margin-bottom 20px
	border-radius 4px
