.sortable
	cursor pointer

.header
	background-color #F8FAF0
	border-top solid 2px #D0B871
	border-bottom solid 2px #D0B871
	border-right solid 1px #D0B871
	line-height 20px
	font-weight bold
	padding 10px 25px
	display inline-block
	&:nth-child(6n)
		border-right none
