.page
	display grid
	grid-template-columns 100px auto
	line-height 30px
	border-top solid 3px gray

.key
	font-weight bold
	border-bottom solid 1px silver
	padding 5px

.value
	border-bottom solid 1px silver
	padding 5px
