.table
	display grid
	grid-template-columns: repeat(6, 1fr)
	margin-top 20px

.cell
	border-bottom solid 1px silver
	border-right solid 1px silver
	padding 5px 25px
	&:nth-child(6n)
		border-right none

.action
	text-decoration none
	font-size 14px
	padding 0 5px
	margin-right 4px
	border-radius 3px
	font-weight bold
	text-transform uppercase
	color #000
	&:hover
		text-decoration underline

.empty
	text-align center
	font-weight bold
	grid-column 1/7
	padding 40px
	border-bottom solid 1px silver
